[Unit]
Description=WiFi Access Point and SSH Manager
After=network-online.target
Wants=network-online.target
Requires=NetworkManager.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStartPre=/usr/bin/systemctl enable ssh
ExecStartPre=/usr/bin/systemctl start ssh
ExecStart=/usr/bin/nmcli device wifi hotspot ifname wlan0 ssid sensosnet password sensossensos
ExecStop=/usr/bin/nmcli connection down Hotspot

[Install]
WantedBy=multi-user.target