[Unit]
Description=Continuously update /sensos/etc/location.conf from GPS
After=local-fs.target gpsd.service
Requires=local-fs.target  ensure-sensos-dir.service
Requires=ensure-sensos-dir.service


[Service]
Type=simple
ExecStart=/usr/local/bin/check-location.py
User=root
Restart=always
RestartSec=60

[Install]
WantedBy=multi-user.target
