[Unit]
Description=Apply Geekworm UPS Configuration on First Boot

[Service]
Type=oneshot
ExecStart=/usr/local/bin/config-geekworm-ups.sh

[Install]
WantedBy=multi-user.target
