[Unit]
Description=Monitor Connectivity and Take Remedial Actions
After=network.target

[Service]
Type=simple
EnvironmentFile=/etc/environment
ExecStart=/usr/local/bin/start-monitor-connectivity.sh
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
