[Unit]
Description=Monitor Connectivity and Take Remedial Actions
After=network.target ensure-sensos-dir.service
Requires=ensure-sensos-dir.service

[Service]
Type=simple
ExecStart=/usr/local/bin/requires-connectivity.sh -- /usr/local/bin/start-monitor-connectivity.sh
User=sensos-runner
Restart=always
RestartSec=60

[Install]
WantedBy=multi-user.target
