[Unit]
Description=Keep LTE Modem Connection Alive
Wants=network-online.target
After=network-online.target NetworkManager.service
Requires=NetworkManager.service

[Service]
Type=simple
Restart=always
RestartSec=10
ExecStart=/usr/local/bin/start-modem.sh
User=sensos-runner

[Install]
WantedBy=multi-user.target
