[Unit]
Description=Restore sensos iptables rules
DefaultDependencies=no
Before=docker.service
After=network-pre.target
Wants=network-pre.target

[Service]
Type=oneshot
ExecStart=/bin/sh -c 'for f in /sensos/etc/iptables/lockdown-*.rules.v4; do [ -f "$f" ] && /sbin/iptables-restore < "$f"; done'
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
