[Unit]
Description=Run Docker Compose as sensos-runner
After=network.target docker.service
Requires=docker.service

[Service]
User=sensos-runner
Environment=HOME=/tmp
WorkingDirectory=/sensos/docker
ExecStart=/usr/bin/docker compose --project-name sensos up --no-build
ExecStop=/usr/bin/docker compose --project-name sensos down
Restart=always

[Install]
WantedBy=multi-user.target
