[Unit]
Description=Continuous Audio Recording Service
After=network.target ensure-sensos-dir.service
Requires=ensure-sensos-dir.service

[Service]
Type=simple
ExecStart=/usr/local/bin/start-arecord.sh
User=sensos-runner
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
