[Unit]
Description=Run Docker Compose as sensos-runner
After=network.target docker.service
Requires=docker.service

[Service]
User=sensos-runner
Environment=HOME=/tmp
WorkingDirectory=/sensos/docker
ExecStart=/usr/bin/docker compose up
ExecStop=/usr/bin/docker compose down
StandardError=journal
StandardOutput=journal
StandardInput=null
Restart=always

[Install]
WantedBy=multi-user.target
